body {
  // font-family: Roboto, arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-light);
}

.heading-primary {
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-secondary {
  
}

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 700;
}