@mixin background {
  padding: 1.5rem 2rem;
  background-color: var(--color-dark-2);
}

@mixin yellow-border {
  &::before {
    content: '';
      position: absolute;
      top: -25%;
      left: -35px;
      height: 140%;
      width: 2rem;
      background-color: var(--color-primary);
      border-radius: 10rem;
  }
}

@mixin hover {
  &:hover {
    color: var(--color-grey);
  }
}