
// COLORS 

:root {
  --color-primary: #FFCE00;
  --color-secondary: #D03434;
  --color-tertiary: #63BF1F;
  
  --color-dark: #000000;
  --color-dark-1: #1F1F1F;
  --color-dark-2: #292929;
  
  --color-light: #ffffff;
  
  --color-grey: #969696;
  --color-grey-1: #535353;
  --color-grey-2: #383838;
}
