@import "../../../scss/abstracts/_mixins";

.profile {
  background-color: var(--color-dark-2);
  overflow-x: hidden;
  position: relative;
  border-right: 1px solid #444444;
  width: 100%;
  
  &__data {
    position: relative;
  }

  &__info {
    margin-top: 8rem;
    padding: 1.5rem 2rem;
    // z-index: 200;

  }
  &__username {
    position: relative;
    @include yellow-border
  }
  
  &__bio {
    margin-top: 4rem;
    padding: 1.5rem 2rem;
  }
  & h2 {
    position: relative;
    @include yellow-border;
  }
}

.avatar-box {
  position: absolute;
  top: -13rem;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);
  z-index: 200;
}
.header {
  height: 13rem;
  background-color: var(--color-dark-1);

  &__flex {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__username {
    line-height: 4rem;
    &::before {
      content: "#"
    }
  }

  &__logoff {
    &:link,
    &:visited {
      font-size: 1.7rem;
      font-weight: 300;
      text-decoration: none;
      color: var(--color-white);
      display: flex;
      align-items: center;
    }
    > svg {
      margin-left: 1rem;
      color: var(--color-secondary);
    }
  }
}
