@import '../../../scss/abstracts/_mixins';

.header {
  display: flex;
  padding: 2rem 1.5rem;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 7rem;
  background-color: var(--color-dark-1);
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

  & > a,
  & > a:link,
  & > a:visited {
    color: var(--color-light);
  }
  & > a > svg {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .2s;  
    @include hover;
  }
  &__title {
    line-height: 4rem;
  } 
}