.bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  
  display: flex;

  width: 100%;
  z-index: 100;

  background-color: #fff;

  @media (min-width: '420px') {
    display: none;
  } 

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}