.sidebarOption {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  color: var(--color-icons);
  font-weight: 300;
  transition: all .2s;
  cursor: pointer;

  // hide text sidebar text
  @media (max-width: '700px') {
    > svg {
      margin-right: 0!important;
    }  
    > h2 {
      display: none;
    }
  }
  > svg {
    margin-right: 2rem;
  }
  > h2 {
    font-size: 2rem;
    font-weight:700;

    
  }

  &:hover {
    color: var(--color-white);
    // background-color: var(--color-grey-2);
    // border-radius: 5px;
  }
  &__active {
    color: var(--color-whtie);
  }
}